language: node_js
sudo: false
node_js:
- 6
- 8
script:
- npm run ci
- chmod 777 ./test/shell_scripts/run_tests.sh
#- ./test/shell_scripts/run_tests.sh

deploy:
  provider: npm
  email: pearson-design-accelerator@pearson.com
  api_key:
    secure: iESdpFeugqLy3EDEsjY9Ykz4f/7Tc8dv/YR1MmVtGRU2888DzhGWStJJSF6+SE+h5rwNG46ddvKkNUMIRLoHVsg+pu6Icvd6Bl0r+15U/PPiVvXY1h6NBKzpY8bcHjPpVvywE0XL4dDkbmznD41MV08tHXat+6Bu219ltq3KEYMKELkre3P9x94LEebGJHa+DX4QHGXgYqUyVpFT7cuBNqU9N1aUzlkX86XOU+4Vb5Xjbmc3SBLTtyMvXqXt27k46CoA0CHov8NuwdOGfJsLHPARX8IDe5NeEz5Zv7wudSpKVNBv3TG+DdFJwIesRQtLSBUmJEeWLVL27A1mHbSZE4Niwxol0cP34C6/VMFwdXTzQSkoGB1Yr9H+OSSsiPljaaVmfr1vw0MsxfEq5N/HKcCgnbSpIVg1v7iYhPBhHGMU+9ljtYMa0vkkVPdmnZQc0lcmefgVmAtKfqyOv4eqEWd4DyARfkAN2wKYAa1L4QMFCu/AQ8eOeSqBdxoac8lBEi/oqM65pdBDcdbotS+IaEJ34PNNhVKuLgssTOFHJlamaMZ/Yu73+AWGrKC+HlF2ZW8UZKzTXADqubE6Tr2Vc3eIWfuZn/d4nG3hYjRX4bzGRKlVJisnLgqmvrQREznBA8xDngsAwBYEWuDZA98bpTcqe0o4cGK8HztGOgH6BMk=
  skip_cleanup: true
  on:
    branch: master
    tags: true
env:
  global:
    secure: o3fw+zSFJMnmM1c2kJJ4zXlPTYO6Zhr4jeQpXKYDhwatO7PC15IyRv7lfCRvVgrPAZqxE2RRc7+0xd/FEpkO8SI+1U6WD/ZD4MIa7TlcrnTqN3hyLL0Pxu1koZVk9rTohCAcnp1tQek5xUIKO5H7VfhHRA5l4rPYnWyotV/oYciYnUpOd7/ZwZYkAYMDd/3uhI04q/gV0P+xQCPImUbkU/HwOE/drBdq3j1sWO6QjkwPN2F94+o1HJs9maixz2Z/miZamjT2xX4aoP8//dqRWA+2Dji4Jj7y7biVdV9iHljnPV4ycXhSs1DmnMICpS0QD/7mRshaYJPXRgIqIxwCyWtyoQhsw7KU6tGUWDp/Ys8v4NXcCgZotv62KrcgXfbxGtlteOvdB9dNKvJFeEQd2x09z4p1AQRseRkjEZ1Ua8JJMzFuaCawHLtk9Ouu5o4TONtDPjt2f/n7xukDSeDZDVjNYNuDIApUbRC+LdqIMOa7RTKnNcYSly6qW27e3HDvIHOqV0Vx3ar1x+zXpz7YUR7KpiFrj5QyCKjisT+ZoruAHlNnkM/1+SblPEJci8UR+Vu/mdI07MTVo/CwAfrCMl9V8hX2lcNuUyqGYsZM9VPbgg80d21t3HuUOr3j1pyf7fQxSPSNZsF9bG3gqun1g/KjaEgvceumz/2jqTCVb/E=
