@import '../../node_modules/@pearson-components/elements-sdk/src/styles/elements';

.contextualHelpBasicView {
  font-size: 1.0rem;
}

.drawerMain {
  cursor: default;

  h2 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 0;
    cursor: pointer;
  }

  p {
    margin-top: 0px;
    margin-bottom: 25px;
    @extend .pe-label--secondary;
  }

  ul {
    li {
      ul {
        li {
          @extend .pe-label--secondary;
        }

        li:last-child {
          margin-bottom: 25px;
        }
      }

      ol {
        li {
          @extend .pe-label--secondary;
        }

        li:last-child {
          margin-bottom: 25px;
        }
      }
    }
  }

  details {
      @extend .pe-label--secondary;
      margin-bottom: 25px;
      margin-left: 15px;

      summary {
        @extend .pe-label;
        @extend .pe-label--bold;
        margin-left: -15px;
      }
  }

  button {
    cursor: pointer;
  }
}
