
@import '../../node_modules/@pearson-components/elements-sdk/src/styles/elements/color/_variables';
@import '../../node_modules/@pearson-components/elements-sdk/src/styles/elements/responsive-utilities/_variables';
@import '../../node_modules/@pearson-components/elements-sdk/src/styles/elements/responsive-utilities/_functions';
@import '../../node_modules/@pearson-components/elements-sdk/src/styles/elements/responsive-utilities/responsive-utilities';

.contextualHelpBasicView {
  font-size: 1.0rem;
}

.contextualHelpExcerpt:after {
  content: "\2026"
}

.drawerMain {
  cursor: default;
  width: 280px;

  h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 26px;
    font-size: 20px;
    color: #252525;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 18px;
    color: #252525;
    font-size: 14px;
    cursor: pointer;
  }

  p {
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
    color: #6a7070;
  }

  ul {
    li {
      ul {
        list-style-type: disc;
        -webkit-padding-start: 20px;
        margin-top: 0;
        margin-bottom: 25px;
        -webkit-padding-start: 20px;

        li {
          line-height: 18px;
          color: #6a7070;
          font-size: 14px;
        }
      }

      ol {
        -webkit-padding-start: 20px;
        padding-bottom: 25px;

        li {
          line-height: 18px;
          color: #6a7070;
          font-size: 14px;
          padding-left: 10px;
          margin-left: -5px;

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  details {
      line-height: 18px;
      font-size: 14px;
      color: #6a7070;
      margin-bottom: 25px;
      margin-left: 15px;

      summary {
        line-height: 18px;
        font-size: 14px;
        color: #252525;
        font-weight: bold;
        margin-left: -15px;
      }
  }

  button {
    cursor: pointer;
  }

  .contentSection {
    padding: 0;
  }
}
